body {
  margin: 0;
  font-family: 'Avenir Next LT Pro';
  -webkit-font-smoothing: 'Avenir Next LT Pro';
  -moz-osx-font-smoothing: 'Avenir Next LT Pro';
}
/* @font-face {
  font-family: 'Avenir Next LT Pro';
  src: local('Avenir Next LT Pro'), url(./fonts/AvenirNextLTPro-Bold.otf) format('Bold');
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
